parameters:
  infra_ext_net_id: {{ hostvars['infra_ext_net_id']['filename'] }}
  infra_ext_subnet_id: {{ hostvars['infra_ext_subnet_id']['filename'] }}
  tools_flavor_id: {{ hostvars['tools_flavor_id']['filename'] }}

