{% macro vm_line(node_type, vm_instance, clusterid, vmi, phase) %}
{{ (oam_network | ipaddr('int') + (node_type.oam_ip | default(oam_start_ip_i | int + node_type.oam_ip_start_offset | default(node_type.ip_start_offset)) + (vmi | int)) | int) | ipaddr('address') }}  nv_type={{node_type.vm_type}} nv_name={{ node_type.vm_basename }}{% if create_numberformat is defined %}{{ create_numberformat | format(vm_instance) }}{% endif %}

{% endmacro -%}

{% for node_type in vms %}
[{{node_type.vm_type}}]
{% if node_type.vm_end_number is not defined %}
{% for vm_instance in node_type.vm_numbers %}
{{ vm_line(node_type,vm_instance, node_type.clusterid | default(clusterid), loop.index0, deployment_phase) }}
{% endfor %}
{% else %}
{% for vm_instance in range(node_type.vm_numbers.0 | int, node_type.vm_numbers.0 | int + node_type.vm_end_number | int ) %}
{{ vm_line(node_type,vm_instance, node_type.clusterid | default(clusterid), loop.index0, deployment_phase) }}
{% endfor %}
{% endif %}
{% endfor %}



