<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{% block title %}{% endblock %}</title>
  <style>
    {{css_file}}
  </style>

<script>
    var shiftWindow = function() { scrollBy(0, -60) };
    window.addEventListener("hashchange", shiftWindow);
    function load() { if (window.location.hash) shiftWindow(); }
</script>
</head>
<body onload="load()" data-offset="70" data-spy="scroll" data-target="#menu">

  <script language="javascript">
    {{js_file}}
  </script>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul id="myTabs" role="tablist" class="nav navbar-nav">
      <li role="presentation" class="active"><a href="#dashboard" aria-controls="dashboard" role="tab" class="toDashboard">Dashboard</a></li>
      <li role="presentation"><a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">Detail</a></li>
      <li role="presentation"><a href="#network" aria-controls="detail" role="tab" data-toggle="tab">Network Map</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">

    <div id="cover">
      <h1 class="text-center">
        MSP server inventory and network verification report.<br/>
        <small>
          {% block date %}{% endblock %}
        </small>
      </h1>
      <hr/>
    </div>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="dashboard">
        <div class="row">
          {% block summary %}{% endblock %} 
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="detail">
        {% block detail %}
        {% endblock %}
      </div>
      <div role="tabpanel" class="tab-pane" id="network">
        {% block network %}
        {% endblock %}
      </div>
    </div>

    <footer class="text-center">
      <p><small>Generated by MIIT-NV</small></p>
    </footer>

  </div>

  <script language="javascript">
    var server_list = {{server_list|to_nice_json}}
    var problems = {{problems|to_nice_json}}
    var network_problems = {{network_problems|to_nice_json}}
  </script>
</body>
</html>

