{# Macros to create section and subsections with increasing section number
   Kindof a dirty Hack #}

{% set section = [] %}
{% set subsection = [] %}


{% macro start_page(id, title) -%}
  {% if section.append(1) %}
  {% endif %}

  {% set l = subsection|length %}
  {% for item in range(l) %}
    {% if subsection.pop() %}
    {% endif %}
  {% endfor %}

  <div>
    <h2 id="{{id|to_uuid}}">{{section|length}}. {{title}}</h2>
    <div class="row">
{%- endmacro %}


{% macro end_page() -%}

  <div class="col-md-12">
{#    <p class="text-right"><small><a class="toDashboard" href="#">To the Dashboard</a></small></p> #}
  </div>
  </div>
</div>
<hr/>
{%- endmacro %}

{% macro start_subpage(id, title) -%}
  {% if subsection.append(subsection|length) %}
  {% endif %}
  <div>
    <div class="col-md-12">
      <div class="col-md-12">
        <h3 id="{{id|to_uuid}}">{{section|length}}-{{subsection|length}}. {{title}}</h3>
     </div>
{%- endmacro %}


{% macro end_subpage() -%}
  </div>
</div>
<hr/>
{%- endmacro %}


{% macro line(content, colspan='1', class='', id='') -%}

<tr id="{{id}}">
  {% for td in content %}
  <td class="{{class}}" colspan="{{colspan}}">{{td|join(', ') if td is iterable and td is not string else td}}</td>
  {% endfor %} 
</tr>

{%- endmacro %}
