<div class="col-md-12" style="padding-top:1.5em">

  <div class="col-md-2">
    <div class="well tight">
      <h4>Servers</h4>
      <div id="jstree"></div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="well tight">
        <h4>Problems</h4>
        <div id="jstree_b"></div>
      </div>
    </div>

    <div class="col-md-4">
    <div class="well tight">
      <h4>Network</h4>
      <div id="jstree_c"></div>
    </div>
  </div>

</div>

