---
access_ingress_all_ips:
{% if deploy_address == 'static' %}
{% if groups['slb'] is defined %}
{% for host in groups['slb'] %}
 - {{ hostvars[host]['acc_in_ip'] }}
{% endfor %}
{% endif %}
{% endif %}

