---
uuids:
{% if groups['vbox'] is defined %}
{% for host in groups['vbox'] %}
 - server: {{ hostvars[host]['servername'] }}
   uuid: {{ hostvars[host]['uuid'] }}
   clusterid: {{ hostvars[host]['clusterid'] }}
{% endfor %}
{% endif %}

deployment_index_u:  {{ deployment_index_prev_u | int + 1 }}

