---
{% if system_upgrade | default('False') == 'True' %}
deployment_index_h: {{ deployment_index_prev_h | int + 1 }}
{% else %}
deployment_index_h: {{ deployment_index_prev_h | int }}
{% endif %}




