body {
/*  background:*/
  /*linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,*/
  /*linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,*/
  /*linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,*/
  /*linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,*/
  /*linear-gradient(90deg, #1b1b1b 10px, transparent 10px),*/
  /*linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);*/
  background-color: #131313;
  background-size: 20px 20px;
}

.container {
  background-color: #fff;
  height:100%;
}

.table th, td {
  text-align: center;
}

.nv-table.danger thead th {
  background-color: #D9534F;
  color: white;
}

.nv-table thead th {
  background-color: #337ab7;
  color: white;
}

.summary-table td:nth-child(2) {
  background-color: #dff0d8
}

.summary-table td:nth-child(3) {
  background-color: #fcf8e3
}

.summary-table td:nth-child(4) {
  background-color: #d9edf7
}

.toDashboard {
  margin-right: 1em;
}

.well.tight {
  padding:5px;
}

li.reference {
  position: relative;
  left:0;
  top:0;
}

.burning {
  position: absolute;
  left: 90px;
  border-left: 1px solid silver;
}


#dashboard {
  min-height:1000px;
}

body { 
padding-top: 70px;
position: relative; }

.affix {
  top: 65px;
}

#menu a {
  color: #767676;
}

#menu a:hover {
  border-left: 1px solid silver;
  color: #337AB7;
}

#menu .nav .nav a {
  padding-left: 1em;
  padding-right: 1em;
}

#menu .nav .nav .nav a {
  padding-left: 2em;
  padding-right: 1em;
}

#menu .nav > li > a {
 padding:0;
 padding-left:5px; 
}

#lightbox .modal-content {
  display: inline-block;
  text-align: center;   
}

#lightbox .close {
  opacity: 1;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
  border-radius: 30px;
  border: 2px solid rgb(255, 255, 255);
  position: absolute;
  top: -15px;
  right: -45px;
  z-index:999;
  height: 30px;
  width: 30px;
}

#menu .nav > .active > a {
  font-weight: bold;
}

#menu .nav .nav {
  display: none;
}

#menu .nav .nav .nav,
#menu .nav .active > .nav {
  display: none
}

#menu .nav .active > .nav,
#menu .nav .active > .nav .active .nav {
  display: block;
}

#menu .nav .nav .active > a {
  font-weight: bold;
}
