DEFAULT {{ item.default | upper }}

SERIAL 0 9600
CONSOLE 0

LABEL {{ item.default | upper }}
    kernel boot/linux-{{ item.default }}-v1
    append initrd=boot/initrd-{{ item.default }}-v1 pxe=1 vga=0x314 console=ttyS0,9600n8 crashkernel=512M vmdisk_size=512000 ramdisk_blocksize=4096 kiwiserver={{ tools_pxe_ip_address }} cloudiniturl={{ tools_pxe_ip_address }}/miit/sle12/system-config/vm/{{ item.pxe_instance_vm_name }}/
    IPAPPEND 2

LABEL local-Boot
    localboot 0

